/* src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
        --bg-dark: #0A0A12;
      --bg-light: #181824;
      --text-primary: #F0F0F0;
      --text-secondary: #A0A0B0;
      --accent-primary: #00D4FF;
      --accent-secondary: #4E49F2;
      --font-body: 'Space Grotesk', sans-serif;
      --font-heading: 'Montserrat', sans-serif;
      --gradient-main: linear-gradient(45deg, var(--accent-primary), var(--accent-secondary));
    }


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: #25e839;
    margin: 0;
    padding: 0;
}
.carreras {
    width: 100%;
}