/* src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
        --bg-dark: #0A0A12;
      --bg-light: #181824;
      --text-primary: #F0F0F0;
      --text-secondary: #A0A0B0;
      --accent-primary: #00D4FF;
      --accent-secondary: #4E49F2;
      --font-body: 'Space Grotesk', sans-serif;
      --font-heading: 'Montserrat', sans-serif;
      --gradient-main: linear-gradient(45deg, var(--accent-primary), var(--accent-secondary));
    }


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: #25e839;
    line-height: 1.6;
}

.neon-text-wrapper {
  position: relative;
  display: inline-block;
  color: #fff; /* Color base del texto */
  text-shadow:
    0 0 5px #00ff00,
    0 0 10px #00ff00,
    0 0 20px #00ff00,
    0 0 40px #00ff00,
    0 0 80px #00ff00;
  animation: neon-flicker 3s ease-in-out forwards;
}

.neon-text-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #9dffad, transparent);
  background-size: 200% 100%;
  mix-blend-mode: screen; /* Puedes experimentar con 'overlay' o 'color-dodge' también */
  animation: neon-sweep 2s ease-in-out forwards 0.5s; /* El 0.5s es un retraso */
}

@keyframes neon-sweep {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes neon-flicker {
  0%, 100% {
    text-shadow:
      0 0 5px #00ff00,
      0 0 10px #00ff00,
      0 0 20px #00ff00,
      0 0 40px #00ff00,
      0 0 80px #00ff00;
  }
  50% {
    text-shadow:
      0 0 10px #00ff00,
      0 0 20px #00ff00,
      0 0 40px #00ff00;
  }
}