---
// src/pages/becas.astro
import MainLayout from "../layouts/MainLayout.astro";
import HeaderFlotante from "../components/vue/FloatHeader.vue";
import BecaCard from "../components/vue/ScholarshipBanner.vue";
import Footer from "../components/vue/footer.vue";
import { becasData } from "../DB/becas.js";

import "../styles/global.css";
import ScholarshipBanner from "../components/vue/ScholarshipBanner.vue";
import ScholarshipsHero from "../components/vue/ScholarshipsHero.vue";

const becasActivas = becasData.filter((b) => b.activa);
---

<MainLayout title="Becas - Universidad Tecnológica de Nayarit">
    <div class="bg-white min-h-screen flex flex-col font-sans text-black-800">
        <HeaderFlotante client:load />

        <section
            id="scholarships-hero"
            class="relative h-[80vh] md:h-[90vh] flex-shrink-0"
        >
            <div class="absolute inset-0 bg-black/50 z-10"></div>
            <ScholarshipsHero client:load />
        </section>

        <section
            id="becas"
            class="my-20 mx-auto max-w-7xl px-4 flex-grow w-full bg-white text-black-800"
        >
            <div class="grid grid-cols-1 lg:grid-cols-1 gap-8">
                {
                    becasActivas.map((beca) => (
                        <ScholarshipBanner client:visible beca={beca} />
                    ))
                }
            </div>
        </section>

        <Footer client:only="vue" class="mt-auto" />
    </div>
</MainLayout>

<script src="../scripts/main.js"></script>
